<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
  <!-- The CSS grid area that displays the image (layer 1) -->
  <div class="banner-image-div">
    <img class="banner-image" src="/assets/images/christmas-img.jpg" alt="Banner Image" />
  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Some my favorite festive dishes</p>
      <p class="banner-body-text">Christmas dinner all wrapped up!</p>
      <p class="banner-btn"><a class="banner-btn-item" href="/feed/christmas">Get festive &#8594;</a></p>
    </span>
  </div>
</section>
<!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
<section class="top-banner-section">
  <!-- The CSS grid area that displays the image (layer 1) -->
  <div class="banner-image-div">
    <img class="banner-image" src="/assets/images/yeastdonut-img.jpg" alt="Banner Image" />
  </div>
  <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
  <div class="banner-overlay-div"></div>
  <!-- The CSS grid area that displays the content (layer 3) -->
  <div class="banner-text-div">
    <span class="banner-text">
      <p class="banner-h1-text">Donuts OMG does it get much better?</p>
      <p class="banner-body-text">Find your favorite type and give them ago!</p>
      <p class="banner-btn"><a class="banner-btn-item" href="/feed/donuts">Get baking &#8594;</a></p>
    </span>
  </div>
</section>
